<div class="row">
                <div class="col-md-12">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Grupos com consumo de recursos acima da Threshold</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <table class="table table-bordered">
                        
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Serviço</th>
                          <th>Grupo</th>
                          <th>Threshold</th>
                          <th>Recurso</th>
                          <th style="width: 40px">Acão</th>
                        </tr>
                        
                        <tr *ngFor="let grupo of grupos; let linha = index">
                          <td>{{linha + 1}}</td>
                          <td>{{grupo.servico}}</td>
                          <td>{{grupo.grupo}}</td>
                          <td><span class="badge bg-red">{{grupo.threshold}}</span></td>
                          <td>{{grupo.recurso}}</td>
                          <td><span  class="fa  fa-search"> </span> </td>
                        </tr>

                       
                      </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                      <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /.box -->
 </div>       